.navigation_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightcoral;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
}

.logo {
  cursor: pointer;
}