.main_container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  flex: 1;
}